<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="password-page">
<div class="form-container">
    <h2>Восстановление пароля</h2>

    <form method="post" th:action="@{/auth/forgot-password}">
        <div class="form-group">
            <label>Введите ваш email</label>
            <input type="email" name="email" placeholder="example@mail.com" required>
        </div>

        <input type="submit" value="Отправить ссылку">
    </form>

    <div class="links-container">
        <a th:href="@{/auth/login}">Вернуться на страницу входа</a>
    </div>
</div>
</body>
</html>