<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="password-page">
<div class="form-container">
    <h2>Сброс пароля</h2>

    <form method="post" th:action="@{/auth/reset-password}">
        <input type="hidden" name="token" th:value="${token}"/>

        <div class="form-group">
            <label>Новый пароль</label>
            <input type="password" name="password" placeholder="Введите новый пароль" required>
        </div>

        <input type="submit" value="Сменить пароль">
    </form>

    <div class="links-container">
        <a th:href="@{/auth/login}">Вернуться на страницу входа</a>
    </div>
</div>
</body>
</html>