<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/home/admin/{id}(id=${person.id_person})}" th:object="${person}"
      enctype="multipart/form-data">
    <input type="file" name="profileImage" accept="image/*"><br>
    <input type="text" th:field="*{firstname}"><br>
    <input type="text" th:field="*{lastname}"><br>
    <input type="text" th:field="*{email}"><br>
    <select th:field="*{role}">
        <option th:each="rolePerson : ${T(org.example.mysecurity.enums.Role).values()}"
                th:value="${rolePerson}"
                th:text="${rolePerson.name()}">
        </option>
    </select>

    <label>
        <input type="checkbox" th:field="*{enabled}">Заблокировать
    </label><br>

    <button type="submit">Сохранить</button><br>
</form>

<form method="post" th:action="@{/home/admin/{id}/delete(id=${person.id_person})}">
    <button type="submit">Удалить</button><br>
</form>
<a th:href="@{/home/admin}">Вернуться назад</a>
</body>
</html>