<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="profile-image-container">
    <img th:if="${profileImageUrl != null && !profileImageUrl.contains('default-avatar')}"
         th:src="@{${profileImageUrl}}"
         alt="Фото профиля"
         class="profile-image"
         onerror="this.onerror=null; this.src='/images/default-avatar.png';">

    <div th:if="${profileImageUrl != null && profileImageUrl.contains('default-avatar')}"
         class="no-photo">
        Фото не загружено
    </div>
</div>
<span th:text="${person.firstname}"></span><br>
<span th:text="${person.lastname}"></span><br>
<span th:text="${person.email}"></span><br>
<span th:text="${person.role}"></span><br>

<form method="post" th:action="@{/logout}">
    <input type="submit" value="logout">
</form>
</body>
</html>